@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

/**{
  box-sizing: border-box;
}*/
body {
  background: #dcdee0 !important;
  min-height: 100vh;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
